body {
  font-size: 14px;
  line-height: 26px;
  color: #000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  text-align: center;
}

.container img {
  display: block;
}

.container p {
  line-height: 21px;
}

.main-menu a,
.form-opener a{
  text-decoration: none;
  color: #000;
  font-weight:bold;
}

.main-menu a:hover {
  color: #81b3d2;
}

.main-menu a:active {
  color: rgba(0, 0, 0, .3);
}

.form-title h2 {
  font-size: 30px;
  line-height: 30px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-menu {
  width:inherit;
}

.menu{
  list-style: none;
  margin: 0 ;
  padding: 0;
  display: flex;
  background-color:#fff;
}

.menu li {
  width: 20%;
  background-color: #fff;
  text-align: center;
  padding: 14px 0 16px;
}

.menu li:nth-child(2) {
  margin-right: auto;
}

.menu li:nth-child(3) {
  margin-left: auto;
}

.main-menu .active,
.main-menu .active:hover,
.main-menu .active:active {
  color: #766357;
  cursor: default;
}

.mainstage {
  height: 507px;
  background:
    url('../img/welcome.png') center no-repeat,
    url('../img/stage-mask.png') bottom no-repeat,
    #dcdcdc url('../img/index-stage.jpg') center 20% no-repeat;
}

main .container {
  background-color: #fff;
}

.review {
  margin: auto;
  width: 576px;
  padding: 40px 0;
}


.review h3 {
  margin-top: 21px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.review p {
  padding-top: 8px;
}

.feature {
  align-items: center;
  justify-content:center;
}

.feature div{
  width: 33.33%;
  height:256px;
  background-color: #81b3d2;
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex p {
  width:77%;
  margin-top: 22px;
}

.feature img{
  width: 66.66%;
}

.grid-3 {
  display: flex;
}

.grid-3 div {
  width: 33.33%;
  padding: 18px 50px 67px;
  text-align: center;
}

.grid-3 h3,
.feature-item h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  padding-left: 75px;
  padding-right: 76px;
}

.feature-item h3 {
  margin-top: 29px;
}

.grid-3 h3 {
  margin-top: 27px;
}

.grid-3 p {
  color: #333333;
  margin-top: 23px;
}

.grid-3 .feature-name {
  position: relative;
  display: block;
  padding-top: 135px;
}

.feature-name {
  position: relative;
  display: block;
  padding-top: 135px;
}

.feature-name.accommodation::before {
  content: "";
  position: absolute;
  top: 59px;
  left: 50%;
  margin-left: -37px;
  display: block;
  width: 75px;
  height: 75px;
  background: url('../img/acco-icon.png') no-repeat;
}

.feature-name.food::before {
  content: "";
  position: absolute;
  top: 59px;
  left: 50%;
  margin-left: -37px;
  display: block;
  width: 74px;
  height: 70px;
  background: url('../img/food-icon.png') no-repeat;
}

.feature-name.souvenirs::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -32px;
  display: block;
  width: 64px;
  height: 76px;
  background: url('../img/souv-icon.png') no-repeat;
}

.grey div{
  background-color: #eeeeee;
  text-align: center;
  padding: 18px 60px;
  padding-bottom: 45px;
}

.feature-img, .img-feature {
  display: flex;
  align-items: stretch;
}

.feature-img .feature-item,
.img-feature .feature-item {
  text-align: center;
  width: 33.33%;
  padding: 25px 49px 39px 49px;
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-item p {
  padding-top: 4px;
  line-height: 21px;
}

.feature-item p:last-child {
  padding-top: 6px;
}

.gray{
  background-color: #f2f2f2;
}

.form-title {
  margin: 0px auto;
  width: 576px;
  padding: 26px 0 0;
  justify-content: center;
}

.form-title p {
  margin-top: 6px;
  margin-bottom: 50px;

}

.form-opener {
  background-color: #766357;
  width: 568px;
  border: 0;
  cursor: pointer;
  padding: 30px 0 28px;
}

.form-opener a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.map {
  width: 1200px;
  height: 593px;
  justify-content:center;
}

.map iframe {
  background: #e3ead9 url('../img/map.jpg') center no-repeat;
  width: 1200px;
  height: 593px;
  border: 0;
}

.search-form {
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  padding: 55px;
  width: 568px;
  height: 395px;
  background: #ffffff;
  font-weight: bold;
  line-height: 26px;
  box-shadow: 0px 0px 15px 7px rgba(0, 1, 1, 0.15)
}

.search-form-invisible {
  display: none
}

.search-form-visible {
  animation: form_opacity 0.7s;
}

fieldset.rel {
  position: relative;
  text-align: left;
  font-size: 0;
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.calend{
  position: absolute;
  top: 0;
  right: 0;
  height: 37px;
  width: 40px;
  border: none;
  background: #f2f2f2 url('../img/calend.png') no-repeat 50% 50%;
  cursor: pointer;
  outline: none;
  color: #a9a9a9;
}

.calend:hover{
  background: #f2f2f2 url('../img/calend-hover.png') no-repeat 50% 50%;
}

.calend:active{
  background: #f2f2f2 url('../img/calend-active.png') no-repeat 50% 50%;
}

.search-form input {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  border: medium none;
  background-color: rgb(242, 242, 242);
  padding-top: 11px;
  padding-bottom: 10px;
  width: 331px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.search-form input:hover {
  background-color: #ebebeb
}

.search-form input:focus {
  background-color: #ffffff;
  outline: 2px solid #ebebeb
}

.search-form input[name="date-of-entry"],
.search-form input[name="date-of-departure"] {
  padding-left: 15px;
}

.search-form input[name="date-of-entry"]:focus,
.search-form input[name="date-of-departure"]:focus {
  padding-left: 13px;
}

.date-of-entry-cal,
.date-of-departure-cal {
  position: absolute;
  font-size: 21px;
  line-height: 26px;
  color: #c2c2c2
}

.date-of-entry-cal {
  top: 60px;
  right: 60px
}

.date-of-departure-cal {
  top: 127px;
  right: 60px
}

.date-of-entry-cal span:hover,
.date-of-departure-cal span:hover {
  color: #000000
}

.date-of-entry-cal span:active,
.date-of-departure-cal span:active {
  color: #81b3d2
}

.search-form .entry,
.search-form .departure {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.search-form .entry {
  width: 111px;
}

.search-form .departure {
  width: 111px;
}

.search-form .amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 458px;
  box-sizing: border-box
}

.amount label {
  font-size: 14px;
}
.amount button {
  height: 37px;
  width: 40px;
  border: none;
  background: #f2f2f2 url('../img/plus.png') no-repeat 50% 50%;
  cursor: pointer;
  outline: none;
  color: #a9a9a9
}

.amount button[name="plus-adult"] {
  margin-right: 52px;
  background: #f2f2f2 url('../img/plus.png') no-repeat 50% 50%;
  cursor: pointer;
  outline: none;
}

.amount button:hover {
  color: #000000
}

.amount button:active {
  color: #81b3d2
}

.amount input {
  width: 37px;
  border: none;
  background-color: #f2f2f2;
  text-align: center
}

.amount input:hover {
  background-color: #ebebeb
}

.amount input:focus {
  background-color: #ffffff;
  outline: 2px solid #ebebeb
}

.amount button[name="minus-adult"] {
  margin-left: 40px;
  background: #f2f2f2 url('../img/minus.png') no-repeat 50% 50%;
  cursor: pointer;
  outline: none;
}

.amount button[name="minus-children"] {
  margin-left: 26px;
  background: #f2f2f2 url('../img/minus.png') no-repeat 50% 50%;
  cursor: pointer;
  outline: none;
}

.amount button[name="minus-adult"]:hover,
.amount button[name="minus-children"]:hover{
  background: #f2f2f2 url('../img/minus-hover.png') no-repeat 50% 50%;
}

.amount button:hover {
  background: #f2f2f2 url('../img/plus-hover.png') no-repeat 50% 50%;
}

.amount button[name="minus-adult"]:active,
.amount button[name="minus-children"]:active{
  background: #f2f2f2 url('../img/minus-active.png') no-repeat 50% 50%;
}

.amount button:active {
  background: #f2f2f2 url('../img/plus-active.png') no-repeat 50% 50%;
}

.search-form > button {
  margin-top: 28px;
  width: 100%;
  background-color: rgb(129, 179, 210);
  border: medium none;
  text-transform: uppercase;
  font-size: 21px;
  color: rgb(255, 255, 255);
  line-height: 16px;
  padding: 21px 0px;
  align-self: flex-end;
  font-weight: bold;
  cursor: pointer;
}

.search-form > button:hover {
  background-color: #669ec0
}

.search-form > button:active {
  background-color: #5496bd;
  color: #88b6d1
}

.entry + input[type="text"]:focus,
.departure + input[type="text"]:focus{
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  height: 37px;
  width: 346px;
}

.main-footer {
  margin-top: -120px;
  background-color: rgba(255,255,255, 0.9);
  padding: 35px 73px;
  vertical-align: middle;
  height: 50px;
}

.hotel-footer {
  margin-top: -117px;
  background-color: rgb(255,255,255);
  padding: 34px 73px;
  vertical-align: middle;
  height: 50px;
}


.main-footer div,
.hotel-footer div {
  margin-top: -15px;
}

.footer-copyright p {
  margin-left: 28px;
  width: 200px;
}

.footer-tag {
  width: 253px;
  margin-right: auto;
  text-align: center;
  margin-top: 4px;
}

.footer-copyright {
  width: 255px;
  margin-left: auto;
  text-align: center;
}

.footer-social {
  width: 220px;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.footer-tag h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}


.footer-copyright a {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-size: 14px;
  line-height: 39px;
  text-decoration: none;
  background: url('../img/html-logo.png') no-repeat;
  height: 39px;
  width: 113px;
  color: transparent;
  margin-left: 3px;
}

.footer-copyright a:hover {
  background: url('../img/html-logo-blue.png') no-repeat;
}

.footer-copyright a:active {
  background: url('../img/html-logo-gray.png') no-repeat;
}

.main-footer .flex,
.hotel-footer .flex {
  display: flex;
  align-items: center;

}

.footer-social ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.footer-social li {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background: #81b3d2 url('../img/t.png') no-repeat 50% 50%;
  cursor:pointer;
}

.footer-social li:nth-child(2){
  background: #81b3d2 url('../img/f.png') no-repeat 50% 50%;
}

.footer-social li:last-child {
  margin-right: 0;
  background: #81b3d2 url('../img/you.png') no-repeat 50% 50%;
}

.footer-social li:hover {
  background-color: #669ec0;
}

.footer-social li:active {
  background: #5496bd url('../img/t-active.png') no-repeat 50% 50%;
}

.footer-social li:nth-child(2):active{
  background: #5496bd url('../img/f-active.png') no-repeat 50% 50%;
}

.footer-social li:last-child:active {
  background: #5496bd url('../img/you-active.png') no-repeat 50% 50%;
}

.mainstage-hotel {
  height: 217px;
  background:
    #59738b url('../img/filter-bg.jpg') center 20% no-repeat;
}

.mainstage-hotel form {
  display: flex;
  padding: 27px 71px;
}

.hotel-info {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 29px 73px;
  align-items: flex-start;
  justify-content: space-between;
}

.hotel-info:first-child {
  border-top: 1px solid #e5e5e5;
}

.type-price {
  margin-top: -7px;
}

.type-price p {
  display: inline-block;
  vertical-align: top;
  width: 111px;
}

.hotel-info h3{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-top: -5px;
}

.hotel-info .name {
  text-decoration: none;
  color: #000;
}

.hotel-info .name:hover {
  color: #81b3d2;
}

.hotel-info .name:active {
  color: #cacaca;
}

.hotel-info .rate {
  color: #666666;
  background-color: #f2f2f2;
}

.hotel-info table {
  padding-bottom: 10px;
}

.hotel-info .btn-more{
  display: inline-block;
  vertical-align: top;
  padding: 3px 17px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-decoration: none;
  border: none;
  background-color: #81b3d2;
  cursor: pointer;
  margin-right: 1px;
}

.hotel-info .btn-book {
  display: inline-block;
  vertical-align: top;
  padding: 3px 17px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-decoration: none;
  border: none;
  background-color: #766357;
  cursor: pointer;
}

.hotel-info .btn-more:hover {
  background-color: #669ec0;
}

.hotel-info .btn-more:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.hotel-info .btn-book:hover {
  background-color: #604e43;
}

.hotel-info .btn-book:active {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.rating img {
  padding-bottom: 35px;
  display: inline;
}

.rating {
  text-align: right;
}

.rate {
  width: 110px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  vertical-align: middle;
}

.hotel-info>img {
  margin-right: 30px;
}

.hotel-info .info {
  flex-grow: 1;
}

.info {
  text-align: left;
}

.infrastructure,
.live-type {
  text-align: left;
}

.infrastructure p,
.live-type p{
  display: block;
  margin-bottom: 20px;
}

.infrastructure .filter-name, .live-type .filter-name {
  margin-bottom: 24px;
}

.search-filter input[type="checkbox"]{
  display: none;
}

.search-filter input[type="checkbox"] + label {
  color: #fff;
  cursor: pointer;
}

.search-filter input[type="checkbox"] + label::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 26px;
  height: 22px;
  background: url('../img/checkbox.png') no-repeat left center;
  margin-right: 14px;
  margin-bottom: 4px;
}

.search-filter input[type="checkbox"]:checked + label::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 26px;
  height: 22px;
  background-image: url('../img/checkbox-checked.png');
  background-repeat: no-repeat;
}

.search-filter input[type="checkbox"]:disabled + label::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 26px;
  height: 22px;
  background: url('../img/checkbox-disabled.png') no-repeat left center;
  margin-right: 14px;
  margin-bottom: 4px;
}

.search-filter input[type="checkbox"]:checked:disabled + label::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 26px;
  height: 22px;
  background: url('../img/checkbox-checked-disabled.png') no-repeat left center;
}

form .filter-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

}

.infrastructure,
.live-type {
  width: 255px;
}

.infrastructure input,
.live-type input {
  display: block;
}

.filter-range {
  width: 328px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: auto;
}

.filter-range-title {
  margin-bottom: 9px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  padding-right: 24px;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 33px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 10px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 31px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.results-wrapper {
  text-align: left;
  padding: 0 6%;
}

.sorting p,
.sorting-list,
.sorting-list li,
.sorting-controls,
.sorting-title {
  display: inline-block;
  vertical-align: top;
}

.sorting-list a {
  text-decoration: none;
  font-weight: normal;
}

.results-title {
  font-size: 21px;
  font-weight: 700;
  margin-right: 42px;
}

.sorting {
  padding: 12px 0 13px;
  font-size: 11.5px;
  letter-spacing: 0.03em;
  line-height: 18px;
}

.sorting-text {
  display: inline-block;
  vertical-align: top;
  width: 94.8%;
  box-sizing: border-box;
}

.sorting-text ul {
  margin-top: 23px;
}

.sorting-text p {
  margin-top: 20px;
}

.sorting-title {
  margin: 2px 35px 0 0;
}

.sorting-list {
  padding: 0;
}

.sorting-list a {
  border-bottom: 1px dotted #81b3d2;
  margin-right: 2.4em;
  color: #cacaca;
  font-size: 11.5px;
  letter-spacing: 0.03em;
}

.sorting-list a:hover {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border: none;
}

.sorting-list a.sorting-active {
  border-bottom: none;
  color: #81b3d2;
}

.sorting-controls {
  font-size: 0;
  box-sizing: border-box;
  padding-top: 23px;
  padding-left: 16px;
}

.arrow {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  height: 9px;
  width: 10px;
  margin-top: 5px;
}

.ascending {
  background: url('../img/sort-up.png') no-repeat;
  margin-right: 15px;
}

.arrow:hover {
  background: url('../img/sort-up-hover.png') no-repeat;
}

.descending {
  background: url('../img/sort-down.png') no-repeat;
}

.down-active,
.descending:active,
.descending:hover{
  background: url('../img/sort-down-active.png') no-repeat;
}

.up-active,
.ascending:active {
  background: url('../img/sort-up-active.png') no-repeat;
}

section.hotels {
  margin-bottom: 117px;
}
